.App {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: #292828;
  background-color: #f8faff;
}

/* ----------------------------------------------    NAVBAR   ------------------------------------------------------- */

.navbar {
  display: flex;
  padding: 1.5em 3em;
}
.navbar .logo {
  flex: 0.2;
  margin: auto 0;
  font-weight: 900;
}
.navbar .navLinks {
  flex: 0.8;
  display: flex;
  justify-content: flex-end;
}
.navbar .navLinks ul {
  list-style: none;
  display: flex;
  margin: 0;
}
.navbar .navLinks ul a {
  text-decoration: none;
  color: #292828;
  margin: 0 1.5em;
}
.navbar .navLinks ul button {
  padding: 0.5em 2.5em;
  border-radius: 24px;
  text-transform: capitalize;
  font-size: 17px;
}

/* ----------------------------------------------    LANDING   ------------------------------------------------------- */
.landing {
  display: flex;
}
.landing .tagline {
  flex: 0.5;
  margin-top: 12%;
  margin-left: 3em;
}
.landing .tagline h1 {
  font-weight: 800;
  font-size: 65px;
  margin: 0;
}
.landing .tagline h5 {
  font-weight: 200;
  font-size: 27px;
  margin: 0.5em 0;
}
.landing .landing_img {
  flex: 0.5;
}
.landing .landing_img img {
  width: 100%;
}
/* ----------------------------------------------    SIGNUP   ------------------------------------------------------- */
.signup {
  margin: 2em 0;
  background-color: #f8faff;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.signup h1 {
  font-weight: 400;
  text-align: center;
  margin-bottom: 1.5em;
}
